/** biome-ignore-all lint/nursery/noUnknownAtRule: tailwindCSS setup */
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background: #cccccc;
  --foreground: #1f1f1f;
  --card: #b0b0b0;
  --card-foreground: #1f1f1f;
  --popover: #b0b0b0;
  --popover-foreground: #1f1f1f;
  --primary: #9b2c2c;
  --primary-foreground: #ffffff;
  --secondary: #556b2f;
  --secondary-foreground: #ffffff;
  --muted: #b8b8b8;
  --muted-foreground: #4a4a4a;
  --accent: #4682b4;
  --accent-foreground: #ffffff;
  --destructive: #991b1b;
  --destructive-foreground: #000000;
  --border: #505050;
  --input: #505050;
  --ring: #b71c1c;
  --chart-1: #e53935;
  --chart-2: #689f38;
  --chart-3: #64b5f6;
  --chart-4: #e59135;
  --chart-5: #389f3c;
  --chart-6: #646cf6;
  --sidebar: #b0b0b0;
  --sidebar-foreground: #1f1f1f;
  --sidebar-primary: #b71c1c;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4682b4;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #505050;
  --sidebar-ring: #b71c1c;
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #0f172a;
  --foreground: #e0e7ff;
  --card: #1e1b4b;
  --card-foreground: #e0e7ff;
  --popover: #1e1b4b;
  --popover-foreground: #e0e7ff;
  --primary: #8b5cf6;
  --primary-foreground: #ffffff;
  --secondary: #1e1b4b;
  --secondary-foreground: #e0e7ff;
  --muted: #1e1b4b;
  --muted-foreground: #c4b5fd;
  --accent: #4338ca;
  --accent-foreground: #e0e7ff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #2e1065;
  --input: #2e1065;
  --ring: #8b5cf6;
  --chart-1: #e53935;
  --chart-2: #689f38;
  --chart-3: #64b5f6;
  --chart-4: #e59135;
  --chart-5: #389f3c;
  --chart-6: #646cf6;
  --sidebar: #0f172a;
  --sidebar-foreground: #e0e7ff;
  --sidebar-primary: #8b5cf6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4338ca;
  --sidebar-accent-foreground: #e0e7ff;
  --sidebar-border: #2e1065;
  --sidebar-ring: #8b5cf6;
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.1);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.1);
  --shadow-sm:
    2px 2px 4px 0px hsl(255 86% 66% / 0.2), 2px 1px 2px -1px
    hsl(255 86% 66% / 0.2);
  --shadow:
    2px 2px 4px 0px hsl(255 86% 66% / 0.2), 2px 1px 2px -1px
    hsl(255 86% 66% / 0.2);
  --shadow-md:
    2px 2px 4px 0px hsl(255 86% 66% / 0.2), 2px 2px 4px -1px
    hsl(255 86% 66% / 0.2);
  --shadow-lg:
    2px 2px 4px 0px hsl(255 86% 66% / 0.2), 2px 4px 6px -1px
    hsl(255 86% 66% / 0.2);
  --shadow-xl:
    2px 2px 4px 0px hsl(255 86% 66% / 0.2), 2px 8px 10px -1px
    hsl(255 86% 66% / 0.2);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
